:root{
    --swiggy_color:#fc8019;
}
*{
    box-sizing: border-box;
}
.container{
    display: flex;
    height: 80vh;
}
.first_div{
    width: 55vw;
    padding: 5% 3% 0 9%;
}
nav{
    display: flex;
}
nav .logo_container{
    flex:3;
}
#loginBtn{
    border: none;
    background:#fff;
    flex: 1;
}
#signupBtn{
    border: none;
    background:#000;
    color: #fff;
    flex: 1;
}
.commonBtns{
    height: 3.2rem;
    padding:0.3rem 1rem;
    font-size: 18px;
    font-weight: 600;
}
.first_div h1{
    font-size: 48px;
    margin-bottom: 0;
}
.first_div h3{
    font-size: 24px;
    font-weight: 300;
    margin: 0 initial 0 initial;
    letter-spacing: 3px;
    font-size: 18px;
    font-weight:300 ;
    color: #686b78;
    line-height: 40px;
}
.second_div{
    width: 45vw;
    background: url('./food.jpeg');
    background-size:cover;
}
.searchDiv{
    height: 58px;
    width: 100%;
    display: flex;
    border: 1px solid var(--swiggy_color);
}
.searchDiv input{
    height: 100%;
    flex: 2;
    border: none;
    padding-left:3rem ;
    font-size: 17px;
}
#locateBtn{
    height:100%;
    border:none;
    flex:1;
    background: none;
}
#findBtn{
    height:100%;
    border: none;
    background-color:var(--swiggy_color) ;
    color: #fff;
    flex: 1;
    font-size: 17px;
    font-weight: 700;
}
.first_div p{
    color: #a9abb2;
    letter-spacing: 2px;
}
p span{
    color: #686b78;
}
.logo_container img:hover{
    filter:drop-shadow(0px 0px 6px #eec6a6);
}
